[auth]
admin_hashed_password = ""

[cookies]
key_base64 = ""

[file]
width = 80
height = 80
delay = 5 # in seconds
file_path = "state/pixels.bin"

[state]
active = false
# choose one
address = "127.0.0.1:3000" # for dev
address = "0.0.0.0:3000" # for prod
